html {
	-webkit-text-size-adjust: none;
	font-size: 10px;
}
body{
	font-family: '微软雅黑'!important;
}

.ui-header {
	color: #fff; 
	background: #393a3f; 
}

.ui-header h1{
	padding-right: 38%;
}

.user {
	background: #46468e; 
	position: relative;
}

.user_pic{
	background: url('../img/cat.png'); 
	background-size: contain; 
	border-radius: 50%; 
	position: absolute; 
}

.user_pic p{
	position: absolute; 
	bottom: -2rem; 
	text-align: center; 
	font-size: 1.3rem; 
	color: #fff; 
}

#remain{
	top:26%; 
	font-size:4.8rem;
}

.remain .p1{
	color:#d0d0d0; 
	top:13%; 
	font-size:1.4rem;
}

.remain .p3{
	top:62%; 
	font-size:1.4rem;
}

.text-div1,.text-div2 {
	width: 42%; 
	background: #3c3c6e;  
	position: absolute; 
	color: #fff; 
	font-size: 1.4rem; 
	text-align: center; 
}

.text-div1{	
	left: 3%;
}

.text-div2{	
	right: 3%;
}

.text-div1 span,.text-div2 span{
	font-size: 1.4rem;
}

.guide {
	width:2.5rem; 
	height: 2.5rem; 
	background: url('../img/flash.png'); 
	background-size: contain; 
	border-radius: 50%; 
	position: absolute; 
	left:50%; 
	top:80%; 
	margin-left: -1.25rem;
}

.remain p {
	position: absolute; 
	color: #fff; 
	right: 8%;
} 

.ui-tiled {
	text-align: center; 
	font-size: 1.4rem;
	position: relative;
}


.ui-tiled li{
	border-right: 1px solid #bfbfbf;
	position: relative;
}

.ui-tiled img{
	position: absolute;
}

#blank{
	height:0.7rem; 
	background:#d9d9d9;
}

@media screen and (max-width:414px){
	.user{
		height: 21.5rem; 
	}

	.ui-tiled{
		height: 5rem;
	}

	.user_pic{
		width: 7.5rem; 
		height: 7.5rem; 
		left:10%; 
		top:20%;
	}

	.user_pic p{
		width: 7.5rem;
	}


	.pic1{
		width: 1.8rem;
		left: 20%;
		top: 32%;
	}

	.pic2{
		width: 1.6rem;
		left: 17%;
		top: 33%;
	}

	.pic3{
		width: 1.5rem;
		left: 23%;
		top: 30%;
	}

	.text-div1,.text-div2{
		line-height: 3.2rem;
		top: 78%;
	}
} 

@media screen and (max-width:376px){
	.user{
		height: 18rem; 
	}

	.user_pic{
		width: 7.5rem; 
		height: 7.5rem; 

	}

	.ui-list li{
		height: 7.8rem !important;
		line-height: 7.8rem !important;
	}

	.user_pic p{
		width: 7.5rem;
	}


	.pic1{
		width: 1.8rem;
		left: 20%;
		top: 30%;
	}

	.pic2{
		width: 1.6rem;
		left: 17%;
		top: 34%;
	}

	.pic3{
		width: 1.5rem;
		left: 23%;
		top: 31%;
	}

	.text-div1,.text-div2{
		line-height: 3.2rem;
		top: 78%;
	}
}

@media screen and (max-width: 330px){
	.user{
		height: 15rem; 
	}

	.ui-tiled{
		height: 4rem;
	}

	.user_pic{
		width: 6.5rem; 
		height: 6.5rem; 
		left:10%; 
		top:20%;
	}

	.user_pic p{
		width: 6.5rem;
	}


	.pic1{
		left: 15%;
		top: 26%;
	}

	.pic2{
		width: 1.6rem;
		left: 11%;
		top: 30%;
	}

	.pic3{
		width: 1.5rem;
		left: 20%;
		top: 29%;
	}


	.text-div1,.text-div2{
		line-height: 2.6rem;
		top: 81%;
	}
}




.ui-tiled a{
	background: url('../img/set.png') no-repeat;
	color: #000;
	width: 7rem;
	display: block;
	line-height: 2rem; 
	background-size: 22%;
}

.ui-list li a {
	color:#000; 
	display: block; 
	width: 100%; 
	height: 100%;
	font-size: 2rem;
	z-index: 999;
}

.ui-list li{
	height: 7.2rem;
	line-height:7.2rem; 
	padding-left: 18%;
	margin-left: 2px;
}

.ui-list a div{
	height: 100%;
	width: 90%;
	position: absolute;
	left: 0;
	font-size: 1.2rem; 
	color: #929191;
	display: inline-block;
}

.ui-list li:nth-of-type(1) {background: url('../img/ic_img_20.png') no-repeat 4px center; border-bottom: 1px solid #bfbfbf; }
.ui-list li:nth-of-type(2) {background: url('../img/ic_img_07.png') no-repeat 4px center;border-bottom: 1px solid #bfbfbf;}
.ui-list li:nth-of-type(3) {background: url('../img/ic_img_11.png') no-repeat 4px center;border-bottom: 1px solid #bfbfbf;}
.ui-list li:nth-of-type(4) {background: url('../img/ic_img_15.png') no-repeat 4px center;}

.ui-list p{
	float: right;
}
.ui-list p span {
	color: #000f46; 
}

footer div {
	text-align: center; 
	bottom: 0; 
	width: 100%; 
}

.ui-icon-comment {
	font-size: 2.5rem;
	color: #383838;
}
.ui-icon-personal {
	font-size: 19px;
	color: #dbdbdb;
}

.ui-icon-comment span{
	font-size: 1.5rem;
	color: #383838;
	font-family: '微软雅黑';
	padding-left: 1px;
}

.ui-icon-personal span{
	font-size: 1.5rem;
	color: #dbdbdb;
	font-family: '微软雅黑';
	padding-left: 3px;	
}

.footer1 {
	background: #a2a2a2; 
	font-size: 1.7rem;
	line-height: 40px;
	color: #000 !important;
}

.footer2 {
	background: #282828; 
	font-size: 1.4rem;
	height:2.1rem;
	color: #b3b3b3; 
}

.footer2{
	color: #b3b3b3;
}

.ui-icon, [class^=ui-icon-] {
    font-family: iconfont!important;
    font-style: normal;
    display: inline;
    line-height:2.1rem;
}