@charset "utf-8";

body,html{ height:100%;font-size: 10px!important;}
html{color:#000;background:#FFF;font-size: 10px!important;}
body{ font-family:"Microsoft YaHei" !important;}
 body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form, fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; } table { border-collapse:collapse; border-spacing:0; } fieldset,img { border:0; } address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; } ol,ul { list-style:none; } caption,th { text-align:left; } h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; } q:before,q:after { content:''; } abbr,acronym { border:0; } 
a{ cursor:pointer;}
a:hover{ text-decoration:none !important;}
.clear{ clear:both} 

#wrapper {
	position: absolute;
	z-index: 1;
	height: 100%;
	width: 100%;
	background: #333;
}
.scroller {
	position: absolute;
	z-index: 1;
	width: 100%;
	padding: 0;
}
.scroller ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: left;
}
.pullDown, .pullUp {
	text-align: center;
	height: 4rem;
	line-height: 4rem;
	font-size: 1.4rem;
	color: #888;
	font-family: Arial, Microsoft YaHei;
	background-color: #333;
}
.pullDown .pullDownIcon, .pullUp .pullUpIcon {
	background: url("arrow.png") no-repeat;
	width: 2.4rem;
	height: 2.4rem;
	position: absolute;
	margin-top: 0.8rem;
	margin-bottom: 0.8rem;
	background-position: center;
	margin-left: 30%;
	background-size: auto 100%;
	-webkit-background-size: auto 100%;
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 250ms;
	-moz-background-size: auto 100%;
	-moz-transition-property: -moz-transform;
	-moz-transition-duration: 250ms;
}
.pullDown .pullDownIcon {
	display: none;
	-webkit-transform: rotate(0deg) translateZ(0);
	-moz-transform: rotate(0deg) translateZ(0);
}
.pullUp .pullUpIcon {
	-webkit-transform: rotate(-180deg) translateZ(0);
	-moz-transform: rotate(-180deg) translateZ(0);
}
.pullDown.flip .pullDownIcon {
	-webkit-transform: rotate(-180deg) translateZ(0);
	-moz-transform: rotate(-180deg) translateZ(0);
}
.pullUp.flip .pullUpIcon {
	-webkit-transform: rotate(0deg) translateZ(0);
	-moz-transform: rotate(0deg) translateZ(0);
}
.pullDown.loading .pullDownIcon, .pullUp.loading .pullUpIcon {
	background-image: url(loader.png);
	background-size: 100% auto;
	background-position: 0 100%;
	-webkit-transform: rotate(0deg) translateZ(0);
	-webkit-transition-duration: 0ms;
	-webkit-animation-name: loading;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-transform: rotate(0deg) translateZ(0);
	-moz-transition-duration: 0ms;
	-moz-animation-name: loading;
	-moz-animation-duration: 2s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
}
@-webkit-keyframes loading {
 from {
-webkit-transform:rotate(0deg) translateZ(0);
}
to {
	-webkit-transform: rotate(360deg) translateZ(0);
}
}
@-moz-keyframes loading {
 from {
-moz-transform:rotate(0deg) translateZ(0);
}
to {
	-moz-transform: rotate(360deg) translateZ(0);
}
}


/*自定义*/
#wrapper{
	color: black;
}
.pullDownLabel img {
    width: 1.3rem;
    height: 1.3rem;
    margin-top: -0.1rem;
    vertical-align: -0.2rem;
    margin-right: 0.5rem;
}
#wrapper li{
	background: #fff;
	height: 8rem;
	border-bottom: 1px solid #E2E2E2;
	position: relative;
	padding: 0.5rem 0;
}
#wrapper p img{
	width: 1.2rem;
}
#wrapper a{
	display: inline-block;
	width: 6.5rem;
	height: 6.5rem;
	float: left;
	padding: 1rem;
}
#wrapper li div{
	float: left;
	padding: 1rem 1rem 0 0;
}
#wrapper h3{
	padding-bottom: 0.6rem;
	font-size: 1.4rem;
	font-weight: bold;
}
}
#wrapper p{
	display: inline-block;
	font-size: 1.4rem;
}
#wrapper p span{
	color: #6e6e6e
}
#wrapper p:nth-of-type(1){
	margin-top: 0.5rem;
	font-size: 1.2rem;
}
#wrapper p:nth-of-type(2){
	position: absolute;
	left: 65%;
	top: 70%;
	font-size: 1.2rem;
}
#wrapper h4{
	font-size: 1.2rem;
	position: absolute;
	top: 70%;
}
#wrapper h4 span{
	background: #f1580d;
	padding:0 3px;
	font-size: 1.2rem;
	color: white;
	border-radius: 0.4rem;
}
#wrapper .ui-list li {
	margin: 0; 
	display: block; 
}

