html{font-size: 10px!important;}

body{
	color: #777;
	font-family: '微软雅黑'!important
}
img{
	max-width: 100%;
	height: auto;
}
@media screen and (max-width:320px){
	.items-title{
		margin-bottom: 0rem!important;
		padding: 0;
		height: 2rem;
		line-height:2rem;
	}
}
@media screen and (min-width:450px) and (max-width: 490px){
	p{
		font-size: 2rem;
	}
	span{
		font-size: 2rem;
	}
	.find_copartner{
		font-size: 1.6rem;
	}
}
@media screen and (min-width:568px){
	.items-title{
		padding: 0 0 1.3rem 0;
		font-size: 2.4rem;
	}
	.start{
	font-size: 1.6rem;
	}
	p{
		font-size: 2rem;
	}
	span{
		font-size: 1.8rem;
	}
		.find_copartner{
		font-size: 2rem;
	}
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.ov{
	overflow: hidden;
}
.dn{
	display: none;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
}
.tc{
	text-align: center;
}
.mtb10{
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.f-white{
	color: white;
}
.f-red{
	color: #FF4A42;
}
.products_links>li{
	position: relative;
}
.products_links>li>a{
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
}
.pr5{
	padding-right: 0.05rem;
}
.outline-white li a{
	display: block;
}
.header_new{
	background: url(../img/money_big.jpg) repeat-x;
	color: white;
}
.f-black{
	color: black;
}
.f12{
	font-size: 1.2rem;
}
.f32{
	font-size: 3.2rem;
}
.img-middle{
	vertical-align:middle;
}
.Absolute{
	position: absolute;
}
.Relative{
	position: relative;
}
.nav>.items-list{ 
	display: none;
}
.items-list>li{
	border:1px solid #ccc;
	margin-top: 1rem;
	padding:1rem;
}
.items-list>li>div{
	font-weight: bold;
	color: black;
}
.start{
	font-size: 1.3rem;
	color: black;
	margin:0;
}
.start>img{
	width:1.2rem;
}
.items-title{
	margin-bottom: 1.3rem;
	color: black;
}
.items-share{
	font-size: 1.2rem;
}
.items-share>span:nth-child(2){
	margin-right: 2rem;
}
.items-share-money{
	height: 1.8rem;
	line-height: 1.8rem;
	background: #e46e18;
	color: #fff;
	display: inline-block;
	text-align: center;
	border-radius: 0.4rem;
	padding: 0 0.3rem;
}
.more{
	text-align: center;
	margin-top: 1.5rem;
}
.more>button{
	background: #5052A0;
	width: 80%;
	height: 2.5rem;
	line-height: 2.5rem;
	color:#fff;
}
.more>button>a{
	color:#fff;
}
.items-child>li{
	padding:1rem 0;
}
.items-list .ui-arrowlink:before{
    font-size: 2rem;
    font-weight: 100;
}
.rotate90:before{
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}
.list-pic{
	width:20%;
	padding-right:10px;
}
.items-btn{
	padding:0.5rem;
}
.items-btn li{
	border: 1px solid rgb(80,82,160);
	color: rgb(80,82,160);
	margin-left: -1px;
}
.items-btn-click{
	background: rgb(80,82,160);
	color: white!important
}
.items-header{
	background:  rgb(80,82,160);
	color: white;
}
.home {
    position: absolute;
    right: 0;
    top: 0;
}
.ui-header .find_copartner{
	display: block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.2rem;
}
.ui-header .find_copartner>a{	
	color:white;
	margin: 0 1rem 0 0;
}
.star>img{
	width:10px;
	vertical-align:middle;
}
.foot-ul{
	background:#eee;
	width:100%;
	height:3rem;
	line-height:3rem;
}
.foot-h3{
	text-align:center;
	background:#22292C;
	 width:100%;
	 height:3rem;
	 line-height:3rem;
}
.header-user{
	margin: 5% 0 0 5%;
}
.header-pic{
	width:8rem; 
	height:8rem;
	border-radius:50%
}
.header-username{
	margin-top:0.2rem;
}
.header-info{
	margin:0 2% 0 0
}
.header-balance{
	margin:30% 20% 0 0;
	color:#fff;
}
.header-ul-partner{
	background:black;
	opacity: 0.5; 
	padding: 0.5rem 0; 
	width: 85%; 
	display: inline-block;
	border-radius: 0.4rem;
}
.header-flash{
	position: absolute;
	left: 46%;
	top: 1rem; 
	right: 0; 
	bottom: 0;
}
.nav-option{
	font-size:2.2rem;
	position:absolute;
	top:20%;
}
.nav-introduce{
	position:absolute;
	top:20%;
	right:10%;
}
/*合伙人页面*/
.copartner-bg{
	background: #E9E9E9;
}
.copartner-list{
	margin-top: 1rem;
}
.copartner-list h2{
	margin-left: 1rem;
}
.copartner-list ul{
	width: 96%;
	margin: 1rem 2%;
}
.copartner-user{
	color: black;
}
.copartner-user>span:nth-child(1){
	width: 30%;
	display: inline-block;
}
.copartner-user>span:nth-child(2){
	position: absolute;
	left: 45%; 
}
.copartner-user>span:nth-child(3){
	position: absolute;
	right: 5%;
}
.copartner-btn{
	text-align: center;
	background: #eee;
	height: 5rem;
	line-height: 5rem;
	border-top: 1px #D5D5D5 solid;
}
.copartner-btn>button{
	width: 40%;
	height: 3rem;
	line-height: 3rem;
	margin: 0.5rem 0 0 0;
	color: #fff;
}
.copartner-btn>button:nth-child(1){
	background: #5052A0;
}
.copartner-btn>button:nth-child(2){
	background: #313267;
}
.copartner-btn>button>a{
	color: #fff;
}
.copartner-num{
	color: #e46e18;
}
/*好友页面*/
.friend-user{
	width: 100%;
	background: #ECECEC;
}
.friend-user>img:nth-child(1){
	height: 8rem;
	width: 8rem;
	border-radius: 50%;
	margin: 2% 0 0 5%;
}
.friend-man{
	position: absolute;
	top:40%;
	left: 40%;
}
.friend-man>img{
	vertical-align: middle;
}
.friend-ewm{
	width: 100%;
	text-align: center;
	margin: 5% 0 0 0;
}
/*收益明细*/
.nav table{
	margin: 0.5rem 0 0 0;
}
.ui-table th{
	background: #ECECEC;
}
.tbody-artic{
	width: 100%;
}
.tbody-artic tr td:nth-child(1){
	width: 40%;
}
.tbody-artic tr td:nth-child(2){
	width: 15%;
}
.tbody-artic tr td:nth-child(3){
	width: 15%;
}
.tbody-artic tr td:nth-child(4){
	width: 30%;
}
/*兑换*/
.money-h2{
	margin: 1rem 0 0 1rem;
}
.money-h2 img{
	vertical-align: middle;
	width: 5.9rem;
	height: 2.15rem;
	position: absolute;
	right: 1rem;
}
.mt{
	margin: 1rem 0 0 0;
}
/*新手学堂*/
.school-btn{
	text-align: center;
	background: #eee;
	height: 4rem;
	line-height: 4rem;
	border-top: 1px #D5D5D5 solid;
}
.school-btn>button{
	width: 40%;
	height: 3rem;
	line-height: 3rem;
	margin: 0.5rem 0 0 0;
	background: #e46e18;
}
.school-btn>button>a{
	color: #fff;
}
.school-artic{
	width: 90%;
	margin:0 5%;
	padding-bottom: 6.5rem;
	color: black; 
}
.school-artic>ul{
	display: none;
}
.school-artic>ul{
	width: 90%;
	margin:0 5%;
}
.school-question{
	background: #ECECEC;
	margin-top: 1rem;
}
.school-question>p{
	margin-left: 0.5rem;
	padding: 0.5rem 0;
}
/*排行榜*/
.ranking-nav{
	background: #E9E8EE;
}
.ranking-user{
	margin: 1rem;
}
.ranking-user{
	font-size: 2rem;
}
.ranking-user>img{
	width: 6rem;
	height: 6rem;
	vertical-align: middle;
}
.ranking-ul{
	font-size: 1.8rem;
}
.ranking-ul>li{
	position: relative;
}
.ranking-ul>li>img{
	vertical-align: middle;
}
.ranking-name{
	margin-left: 1rem;
}
.ranking-num{
	position: absolute;
	right: 5%;
	color: #e46e18;
}
/*确认订单*/
.total-money{
	position: absolute;
	left: 5%;
	top: 1.5rem;
}
.order-btn>a{
	position: absolute;
	right: 5%;
	top: 1rem;
	width: 40%;
	height: 3rem;
	text-align: center;
	background: #D21611;
	border-radius: 0.5rem;
	color: #fff;
	font-size: 2rem;
}
.order-section{
	background: #E8E8E8;
}
.bg-w{
	background: #fff;
}
.order-content{
	margin-top: 1rem;
}
.order-address{
	width: 94%;
	border-radius: 0.5rem;
	border:1px #C9C9C9 solid;
	padding: 1rem 0;
	margin-left: 3%;
	margin-top: 1rem;
}
.order-address>h2{
	padding-left: 1rem;
	padding-bottom: 0.5rem;
}
.order-user>h3{
	margin-left: 1rem;
	padding: 0.5rem 0;
}
.order-user>h2{
	margin-left: 1rem;
	padding: 0.5rem 0;
}
.order-goods{
	margin-top: 1rem;
}
.order-goods>img{
	width: 7.5rem;
	height: 7.5rem;
	float: left;
	margin-left: 1rem;
	margin-top: 0.5rem;
}
.goods-address{
	padding: 0 0.5rem 0 0.5rem;
	margin-left: 33%;
}
.goods-address>p{
	padding: 0.1rem 0;
}
.goods-address p span{
	margin-left: 0.5rem;
}
.order-goods-money{
	color: #D01510;
	font-weight: bold;
}
.order-plus{
	width: 2rem;
	height: 2rem;
	border:1px #C9C9C9 solid;
	display: inline-block;
	text-align: center;
}
.goods-num{
	width: 3rem;
	height: 2rem;
	border:1px #C9C9C9 solid;
	display: inline-block;
	text-align: center;
}
.order-pay-way{
	margin-top: 1rem;
}
.order-pay-way>h2{
	margin-left: 1rem;
}
.order-pay-way>h2>img{
	vertical-align: middle;
}
.send-time>h2{
	padding: 1rem 0;
	padding-left: 1rem;
	height: 2rem;
}
input[type="radio"]{
	display: none;
}
.send-time label{
	background: url(../img/goods1/radio.png) no-repeat;
	height: 2.5rem;
	padding-left: 2.5rem;
	display: block;
	float: left;
}
.checked{
	background: url(../img/goods1/radio-checked.png) no-repeat!important;
}
.order-phone>img{
	width: 2.5rem;
	height:2.5rem;
	vertical-align: middle;
}
.order-phone>span{
	color: #136EBA;
	margin-left: 1rem;
}
.order-message{
	margin-left: 1rem;
}
.order-message>textarea{
	border:none;
	width: 100%;
}
.order-footer{
	text-align: center;
	padding: 1rem 0;
}
/*商品分类*/
.classification-ul{
	margin-top: 0.1rem;
	text-align: left;
}
.classification-ul li{
	height: 4rem;
	line-height: 4rem;
	position: relative;
}
.classification-ul li span{
	height: 0.5rem;
	width: 0.5rem;
	background: #000;
	display: inline-block;
	border-radius: 50%;
	float: left;
	margin-top: 1.8rem;
	margin-left: 2rem;
}
.classification-ul li h2{
	position: absolute;
	left: 15%;
}
.classification-ul li img{
	position: absolute;
	right: 10%;
	top: 35%;
}
.classification-footer{
	text-align: center;
}
/*广告位商品不返利*/
.ui-tiled{
	border-top: #CBCBCB 1px solid;
}
.ui-tiled div{
    margin-top: 0.5rem;
    width: 1.8rem;
    height: 1.8rem;
}
.ui-tiled li:nth-of-type(1) div{
   background: url(../img/goods1/iconfont_01.png) no-repeat;
   background-size: cover;
}
.ui-tiled li:nth-of-type(2) div{
   background: url(../img/goods1/iconfont_02.png) no-repeat;
   background-size: cover;
}
.ui-tiled li:nth-of-type(3) div{
   background: url(../img/goods1/iconfont_04.png) no-repeat;
   background-size: cover;
}
.ui-tiled li:nth-of-type(4) div{
   background: url(../img/goods1/iconfont_03.png) no-repeat;
   background-size: cover;
}
.advertisement-goods{
	margin-top: 0.3rem;
	text-align: center;
}
.advertisement-goods li{
	background: #fff;
	width: 47%;
	float: left;
	margin-left: 2%;
	margin-top: 0.5rem;
}
.advertisement-goods li img{
	width: 10rem;
	height: 10rem;
	margin-top: 0.5rem;
}
.advertisement-goods  li>h3{
	text-align: left;
}
.advertisement-goods li>h1{
	text-align: left;
}
.advertisement-goods li>h1>span:nth-child(1){
	font-size: 1.6rem;
	color: #DB2959;

}
.advertisement-goods li>h1>span:nth-child(2){
	font-size: 2.2rem;
	font-weight: bold;
	color: #DB2959;
}
.advertisement-goods li>h1>span:nth-child(3){
	font-size: 1.4rem;
	margin-left: 0.5rem;
}

.dark {
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    z-index: 100;
    bottom: 0;
    display: none;
}
.express{
	margin:0 auto;
	position: fixed;
	left: 0;
	right: 0;
	top: 42%;
	width: 60%;
	height: 8rem;
	border-radius: 7px;
	background: #fff;
	color: #000;
	display: none;
	z-index: 100;
}

.express p{
	text-align: center;
	line-height: 4rem;
}

.express .activeup{
	border:1px solid #004ff1;
	background: #5288f4;
	border-radius: 7px 7px 0 0;
}

.express .activedown{
	border:1px solid #004ff1;
	background: #5288f4;
	border-radius: 0 0 7px 7px;
}
/*订单详情*/
.original-price{
	color: #ffb500;
}
.order-details-h2{
	height: 3rem;
	line-height: 3rem;
	margin-left: 1rem;
}
.order-details-goods>img{
	width: 7.5rem;
	height: 7.5rem;
	float: left;
	margin-left: 1rem;
	margin-top: 0.5rem;
}
.order-details-address{
	padding: 0 0.5rem 0 0.5rem;
	margin-left: 33%;
}
.order-details-address>p{
	padding: 0.1rem 0;
}
.order-details-address p span{
	margin-left: 0.5rem;
}
.order-details>h2:nth-child(3){
	margin-left: 1.4rem;
}
.order-details>h2:nth-child(4)>span:nth-child(2)>span:nth-child(2){
	margin-left: 0.5rem;
}
.order-details>h2>span:nth-child(1){
	margin-left: 1rem;
}
.order-details>h2>span:nth-child(2){
	margin-left: 1rem;
	color: black;
}
.order-details>h2{
	padding: 0.5rem 0;
}
.receiving-information>h2{
	margin-left: 1rem;
	padding: 0.5rem 0;
}
.receiving-information>h2>span:nth-child(1){
	display: inline-block;
	float: left;
	margin-left: 1rem;
}
.receiving-information>h2>span:nth-child(2){
	margin-left: 1rem;
	color: black;
	display: inline-block;
	width: 68%;
	padding-left: 0.5rem;
}
.receiving-information>h2>p>span:nth-child(1){
	margin-left: 3.9rem;
}
.receiving-information>h2>p>span:nth-child(2){
	margin-left: 1rem;
	color: black;
}
.order-details-state{
	color: #D01510!important;
}