html{
	font-size: 12px;
}
body{
	color: #000!important;
	margin:0;
	padding:0;
}

section{
	position: relative;
	padding: 136px 12px 0 12px;
}

section h3 img{
	width: 1.6rem;
	position: relative;
	top: 0.25rem;
}

section .piczone img{
	margin-bottom: 0.6rem;
}

.ad{
	position: fixed;
	margin:0;
	padding:0;
	top: 45px;
	background: #bcbcbc;
	width: 100%;
}

section p{
	padding-bottom: 1rem
}

.ad img{
	position: absolute;
	top: 0;
	right: 0;
}

.ad p:nth-of-type(1) span{
	font-weight: bold;
}
.ad p:nth-of-type(2) span{
	color: #e93802;
}
.ad p:nth-of-type(1){
	padding: 0.6rem 4.8rem 0 1rem;
}
.ad p:nth-of-type(2){
	padding:0 0 0.5rem 1rem;
}

