html, body ,p { 
    padding: 0; 
    margin: 0; 
}

ul,li{
	list-style: none; 
	margin: 0; padding:0;
}

a{
	text-decoration: none; color: #000;
}

body {
    font-size:100%; 
    background:#f4f4f4; 
    font-family: 微软雅黑; 
    padding:0 0.7rem;
} 
a img, :link img, :visited img {
       border:0;
} 

header h2 {
	margin: 1rem 0 0.7rem 0; font-size: 1.5rem;
}

header p {
	float: right; 
	margin: 0;
}

header div{
	height: 1.2rem; 
	padding-bottom: 0.7rem;
}

header span{
	padding-left: 4px; 
	color:#2bb7ff;
}

section img {
	margin-bottom: 1rem;
}

section .text{
	background: #fff; 
	margin-bottom: 0.8rem;
}

.text img{
	width: 100%;
}

section .ad{
	background: #fff; 
	margin-bottom: 0.8rem;
}

section .ad p{
	display: inline;
}

section .ad .red{ 
	padding-left: 1.6rem; 
	color: #c00000;
}

#adpic{
	margin-bottom: 4rem;
	display:-webkit-box;
}

.adpics{
	display: -webkit-box;
	width: 100%; 
	height: 4.8rem; 
}

.adpics a{	
	-webkit-box-flex:1;
	width: 100%;
	display:block;
	height: 4.6rem;
	position: relative;
	margin-right: 12px;
}

.adpics a{
	width: 100%;
}

.adpics a:nth-of-type(1){
	background: url('../img/article1/hair.png') no-repeat;
	background-size: cover;
}

.adpics a:nth-of-type(2){
	background: url('../img/article1/bankcard.png') no-repeat;
	background-size: cover;
}

.adpics a:nth-of-type(3){
	background: url('../img/article1/tooth.png') no-repeat;
	background-size: cover;
}


.adpics a p{
	background: rgba(0,0,0,0.5); 
	font-size: 0.7rem;	
	position: absolute; 
	bottom: 0;
	text-align: center;
	width: 100%;
	color: #fff;
}

.adpics div:nth-of-type(1),.adpics div:nth-of-type(2){
	margin-right: 21px
}


section .ad .yellow{
	background:#fffb00; 
	color: #ff0000;
}

section .ad .bold{
	font-weight: bold;
}

.artical {
	display: block;
	line-height: 2rem; 
	border-bottom: 1px solid #6c6c6c; 
	position: relative;
	z-index: 100;
}

.artical img{
	width: 32px; 
	height: 32x; 
	margin: 0; 
	position: absolute; 
	right:0; 
	top:1rem;
}

.list li{
	height: 90px; 
	border-bottom: 1px solid #c1c1c1;
	position: relative;
}

.list a{
	display: block;
	width: 60px; 
	height: 60px; 
	border: 1px solid black;
	position: absolute;
	top: 50%;
	margin-top: -2rem;
}

.list li p {
 
	position: absolute;
	top: 54%;
	right: 5%;
	margin-top: -2.2rem; 
	height: 60px;
	width: 70%;
}

@media screen and (max-width:400px){
	.list li p { font-size: 15px;}
	#ad-line p { font-size: 13px;}
	header{ font-size: 0.9rem;}

}

@media screen and (max-width: 330px){
	.list li p { font-size: 14px;}
	#ad-line p { font-size: 13px;}
	header{ font-size: 0.8rem;}
}

.list span{
	font-size: 0.8rem;
	position: absolute; 
	bottom: 0;
	right: -1rem;
	color: #8a8a8a;
}

.small-font{    
    -webkit-transform-origin-x: 0;
    -webkit-transform: scale(0.80);
}

.adtext {
	line-height: 2.8rem;
	font-size: 0.8rem;
	padding-left: 4px;
	word-spacing: 12px;
	position: relative;
}

.adtext a{
	color: #000; 
	text-decoration: none;
}

.adtext span{
	color:red; 
	background: #8a8a8a; 
	position: absolute; 
	right: 3%; 
	bottom: 50%;
	margin-bottom: -0.6rem; 
	line-height: 1.4rem;
}

#ad-line{
	display: block;
	position: fixed; 
	left: -1px;
	bottom: 0; 
	height: 48px; 
	border-top: 1px solid #c1c1c1;
	width: 100%;
	background: #fff;
}

#ad-line .adimg{
	width: 38px; 
	height: 38px; 
	position: absolute;
	top: 50%;
	left: 2%;
	margin-top: -1.2rem;
	box-shadow: 2px 2px 2px #888888;
}

#ad-line p{
	width: 80%;
	height: 34px;
	float: right;
	margin: 5px 6px 0 0;
}

#ad-line img{
	width: 15px;
	height: 15px;
	position: absolute;
	top: 5px;
	right: 5px;
}

.margin{
	margin-bottom: 48px;
}



